<h3>Prescription Items</h3>

<div>
   <ol>
       @foreach(var prescriptionItem in PrescriptionItems){
           <li>
               <label>@prescriptionItem.Medicine.Name :</label>               
               <label>@prescriptionItem.Medicine.Dosage @prescriptionItem.Medicine.DosageUnit</label>
           </li>
       }
   </ol>
    <NavLink href="/PrescriptionItems" class="btn btn-success" >View All</NavLink>
</div>


@code {
    [Parameter]
    public List<Prescription> Prescriptions { get; set;}

    [Parameter]
    public List<PrescriptionItem> PrescriptionItems { get; set; }

    protected override void OnInitialized()
    {
         PrescriptionItems = new List<PrescriptionItem>();
                foreach(var prescription in Prescriptions)
                {
                    foreach(var item in prescription.PrescriptionItems){
                      if(!PrescriptionItems.Contains(item)){
                            PrescriptionItems.Add(item);
                      }
                  }
                }
              }
    }