<h3>Next occurring alerts</h3>

<div>
    @if (Alerts != null)
    {
    <ol>
        @foreach (var alert in Alerts)
        {
            <li>Alert time : @alert.Time there are @alert.Medications.Count() items on this alert
            </li>
        }
    </ol>
    }
    <NavLink href="/Alerts" class="btn btn-success">View All</NavLink>
</div>

@code{ 
    [Parameter]
    public IEnumerable<Alert> Alerts { get; set; }
}