@page "/addAlert"

e "/addmed"

@inject IDbContextFactory<MedicationAssistantDBContext> dbFactory
@inject NavigationManager Nav
@inject IPageHelper PageHelper

@*create a form component for add and edit to share  *@
@if (AlertModel != null)
{
    <AlertForm Busy="@Busy"
                  Alertl="@AlertModel"
                  IsAdd="true"
                  CancelRequest="Cancel"
                  ValidationResult="@(async (success) => await ValidationResultAsync(success))" />
}
@if (Success)
{
    <br />
    <div class="alert alert-success">The AlertModel was successfully added.</div>
}
@if (Error)
{
    <br />
    <div class="alert alert-danger">Failed to update the AlertModel (@ErrorMessage).</div>
}


@code {
    public bool Busy;
    public bool Success;
    public bool Error;
    public string ErrorMessage = string.Empty;
    private AlertModel AlertModel { get; set; }

    protected override Task OnInitializedAsync()
    {
        


        AlertModel = new AlertModel();


        return base.OnInitializedAsync();
    }

    public async Task ValidationResultAsync(bool success)
    {
        if (Busy)
        {
            return;
        }

        if (!success)
        {
            Success = false;
            Error = false;
            return;
        }
        Busy = true;

        using var context = dbFactory.CreateDbContext();
        context.Set<AlertModel>().Add(AlertModel);

        try
        {
            await context.SaveChangesAsync();
            Success = true;
            Error = false;
            Busy = false;

        }
        catch (Exception ex)
        {
            Success = false;
            Error = true;
            ErrorMessage = ex.Message;
            Busy = false;
        }
    }

    /// <summary>
    /// Back to list.
    /// </summary>
    private void Cancel()
    {
        Nav.NavigateTo($"/{PageHelper.Page}");
    }
}