@page "/addPrescriptionAlert"

@inject IDbContextFactory<MedicationAssistantDBContext> dbFactory
@inject NavigationManager Nav
@inject IPageHelper PageHelper

@*create a form component for add and edit to share  *@
@if (PrescriptionAlert != null)
{
    <PrescriptionAlertForm  Busy="@Busy"
                  PrescriptionAlert="@PrescriptionAlert"
                  IsAdd="true"
                  CancelRequest="Cancel"
                  ValidationResult="@(async (success) => await ValidationResultAsync(success))" />
}
@if (Success)
{
    <br />
    <div class="Alert Alert-success">The PrescriptionAlert was successfully added.</div>
}
@if (Error)
{
    <br />
    <div class="Alert Alert-danger">Failed to update the PrescriptionAlert (@ErrorMessage).</div>
}


@code {
    public bool Busy;
    public bool Success;
    public bool Error;
    public string ErrorMessage = string.Empty;
    private PrescriptionAlert PrescriptionAlert { get; set; }

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

    public async Task ValidationResultAsync(bool success)
    {
        if (Busy)
        {
            return;
        }

        if (!success)
        {
            Success = false;
            Error = false;
            return;
        }
        Busy = true;

        using var context = dbFactory.CreateDbContext();
        context.Set<PrescriptionAlert>().Add(PrescriptionAlert);

        try
        {
            await context.SaveChangesAsync();
            Success = true;
            Error = false;
            Busy = false;

        }
        catch (Exception ex)
        {
            Success = false;
            Error = true;
            ErrorMessage = ex.Message;
            Busy = false;
        }
    }

    /// <summary>
    /// Back to list.
    /// </summary>
    private void Cancel()
    {
        Nav.NavigateTo($"/{PageHelper.Page}");
    }
}