@page "/Dashboard"
<AuthorizeView>
@inject IDbContextFactory<MedAstDBContext> dbFactory;
@inject AuthenticationStateProvider AuthenticationStateProvider


<div class="parent">
       <h1 class="title">Dashboard</h1>
      <div class="top-left">box for user details upper left side </div>
    
        <div class="bottom-left">
            <PrescriptionsSmallComponent Prescriptions="@Account.Prescriptions" />
   </div>
        <div class="bottom-right">
            <PrescriptionAlertSmallComponent MedicationAlerts="@Account.Alerts" />
        </div>
</div>
</AuthorizeView>
@code {
    [Parameter]

    public Account Account { get; set; } = new Account();
    protected override async Task OnInitializedAsync()
    {
        Account = await new AccountRepository(dbFactory,AuthenticationStateProvider).FindAccount();
    }
}