@page "/Dashboard"

<AuthorizeView>
@inject IDbContextFactory<MedAstDBContext> dbFactory;
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IMapper mapper

<div class="parent">
       <h1 class="title">Dashboard</h1>
      <div class="top-left">box for user details upper left side </div>
    
        <div class="bottom-left">
            <PrescriptionsSmallComponent Prescriptions="@HomeDash.Prescriptions" />
   </div>
        <div class="bottom-right">
            <PrescriptionAlertSmallComponent Alerts="@HomeDash.Alerts" />
        </div>
</div>
</AuthorizeView>
@code {
    [Parameter]
    public HomeViewModel HomeDash { get; set; }
  
    protected override async Task OnInitializedAsync()
    {
       HomeDash = new HomeViewModel(dbFactory,mapper);
       await HomeDash.GetLists(UserHelper.GetUserId(AuthenticationStateProvider));
       StateHasChanged();
    }
}


@*1e3ed9ff-4e8f-47de-bb1a-e7ee3d5c2473*@