@page "/Dashboard"

@inject  IDbContextFactory<MedicationAssistantDBContext> dbFactory;
@inject AuthenticationStateProvider AuthenticationStateProvider


<div class="parent">
       <h1 class="title">Dashboard</h1>
      <div class="top-left">box for user details upper left side </div>
      <div class="top-right">
     <PrescriptionsSmallComponent  Prescriptions="@User.Prescriptions"/>
      </div>
    

  
        <div class="bottom-left">
    <PrescriptionAlertSmallComponent  PrescriptionItemAlerts="@User.Alerts" />
   </div>
   <div class="bottom-right">
    <PrescriptionItemsSmallComponent  Prescriptions="@User.Prescriptions" /> 
    </div>
  
</div>





@code {
    [Parameter]
  public User User { get; set; }
  


  protected override void OnInitialized()
  {
        UserService us = new UserService(AuthenticationStateProvider, dbFactory);
        User = us.GetUser();
        
  }
}
