@page "/Dashboard"

<AuthorizeView>
	<div class="parent">
		<h1 class="title">Dashboard</h1>
		<div class="top-left">box for user details upper left side </div>

		<div class="bottom-left">
			<PrescriptionsSmallComponent/>
		</div>
		<div class="bottom-right">
			<AlertSmallComponent/>
		</div>
	</div>
</AuthorizeView>
